@charset "UTF-8"; /* Enable extended character support in the CSS. */

* {
    text-rendering: optimizeLegibility; /* This is only default in Firefox, for some reason */

    -webkit-font-smoothing: antialiased; /* Disable unsightly font treatments in webkit */
    -webkit-text-size-adjust: none;

    -moz-osx-font-smoothing: grayscale; /* Due to its sub-pixel antialiasing algorithm, OS X tends to render light text on dark backgrounds too bold. Firefox finally added this property in v25 */

    /*

    Commonly available OpenType font features (font-feature-settings):

    Common ligatures                "liga"
    Discretionary ligatures         "dlig"
    Historical ligatures            "hlig"
    Contextual ligatures            "clig"
    Small caps                      "smcp"
    Lining numerals                 "lnum"
    Old-style numerals              "onum"
    Swash alternates (index number) "swsh" n
    Styleset (01–20)                "ss01–20"

    You can also use the generator at http://clagnut.com/sandbox/css3/
    
    */

    -moz-font-feature-settings:"liga=1, clig=1"; 
    -ms-font-feature-settings:"liga" 1, "clig" 1; 
    -o-font-feature-settings:"liga" 1, "clig" 1; 
    -webkit-font-feature-settings:"liga" 1, "clig" 1; 
    font-feature-settings:"liga" 1, "clig" 1;
}

p {
    -webkit-hyphens: auto; /* Use automatic hyphenation */
    -moz-hyphhens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    -ms-hyphenate-limit-chars: 12; /* Minimum number of characters a word should have before allowing a hyphen. */
    hyphenate-limit-chars: 12;

    -webkit-hyphenate-character: "\2013"; /* Use the more typographically appropriate en dash */
}

q, blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019"; /* Use better quotation marks */
}

h1 a, h2 a {
    text-decoration: none;  
    color: inherit;
}

address {
    font-style: normal;
    font-weight: normal;
} 

sub, sup {
  font-size: 75%; /* sub/sup is relative to the surrounding text */
  line-height: 0; /* line-height doesn't interfere with the positioning */
  position: relative; /* Makes all browsers position relative to the surrounding text */
  vertical-align: baseline; /* if you're using reset.css, you can remove this rule */
}
 
sup {
  top: -0.5em; /* Move the superscripted text up */
}
 
sub {
  bottom: -0.25em; /* Move the subscripted text down, but only half as far as the superscript */
}

/*

Medium-style smart underlines, with retina-pixel support.

Colors will need to be updated according to your theme.

Add additional rules for :hover if necessary.

Or, use sass to pass color variables to a single rule.

*/

.retina-underline { /* For @1x screens */

    text-decoration: none;
    position: relative;

    text-shadow: -1px -1px 0 #fff,
                  1px -1px 0 #fff,
                  -1px 1px 0 #fff,
                   1px 1px 0 #fff;

    background-image: linear-gradient(to top,
                            rgba(0, 0, 0, 0), 
                            rgba(0, 0, 0, 0) 2px,
                            #333333 2px,
                            #333333 3px,
                            rgba(0, 0, 0, 0) 3px);

 }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { /* For retina and above. Half-pixel measurements are a scaling hack. */

    .retina-underline {

        background-image: linear-gradient(to top, 
                                rgba(0, 0, 0, 0), 
                                rgba(0, 0, 0, 0) 2px, 
                                #333333 2px, 
                                #333333 2.5px, 
                                rgba(0, 0, 0, 0) 2.5px);
    }

}

/* add font-face groups here */